/* Background */ .chroma-dark-dark { background-color: #f8f8f8 }
/* Other */ .chroma-dark .x {  }
/* Error */ .chroma-dark .err {  }
/* LineTableTD */ .chroma-dark .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma-dark .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma-dark .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma-dark .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma-dark .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma-dark .k { color: #aa22ff; font-weight: bold }
/* KeywordConstant */ .chroma-dark .kc { color: #aa22ff; font-weight: bold }
/* KeywordDeclaration */ .chroma-dark .kd { color: #aa22ff; font-weight: bold }
/* KeywordNamespace */ .chroma-dark .kn { color: #aa22ff; font-weight: bold }
/* KeywordPseudo */ .chroma-dark .kp { color: #aa22ff }
/* KeywordReserved */ .chroma-dark .kr { color: #aa22ff; font-weight: bold }
/* KeywordType */ .chroma-dark .kt { color: #00bb00; font-weight: bold }
/* Name */ .chroma-dark .n {  }
/* NameAttribute */ .chroma-dark .na { color: #bb4444 }
/* NameBuiltin */ .chroma-dark .nb { color: #aa22ff }
/* NameBuiltinPseudo */ .chroma-dark .bp {  }
/* NameClass */ .chroma-dark .nc { color: #0000ff }
/* NameConstant */ .chroma-dark .no { color: #880000 }
/* NameDecorator */ .chroma-dark .nd { color: #aa22ff }
/* NameEntity */ .chroma-dark .ni { color: #999999; font-weight: bold }
/* NameException */ .chroma-dark .ne { color: #d2413a; font-weight: bold }
/* NameFunction */ .chroma-dark .nf { color: #00a000 }
/* NameFunctionMagic */ .chroma-dark .fm {  }
/* NameLabel */ .chroma-dark .nl { color: #a0a000 }
/* NameNamespace */ .chroma-dark .nn { color: #0000ff; font-weight: bold }
/* NameOther */ .chroma-dark .nx {  }
/* NameProperty */ .chroma-dark .py {  }
/* NameTag */ .chroma-dark .nt { color: #008000; font-weight: bold }
/* NameVariable */ .chroma-dark .nv { color: #b8860b }
/* NameVariableClass */ .chroma-dark .vc {  }
/* NameVariableGlobal */ .chroma-dark .vg {  }
/* NameVariableInstance */ .chroma-dark .vi {  }
/* NameVariableMagic */ .chroma-dark .vm {  }
/* Literal */ .chroma-dark .l {  }
/* LiteralDate */ .chroma-dark .ld {  }
/* LiteralString */ .chroma-dark .s { color: #bb4444 }
/* LiteralStringAffix */ .chroma-dark .sa { color: #bb4444 }
/* LiteralStringBacktick */ .chroma-dark .sb { color: #bb4444 }
/* LiteralStringChar */ .chroma-dark .sc { color: #bb4444 }
/* LiteralStringDelimiter */ .chroma-dark .dl { color: #bb4444 }
/* LiteralStringDoc */ .chroma-dark .sd { color: #bb4444; font-style: italic }
/* LiteralStringDouble */ .chroma-dark .s2 { color: #bb4444 }
/* LiteralStringEscape */ .chroma-dark .se { color: #bb6622; font-weight: bold }
/* LiteralStringHeredoc */ .chroma-dark .sh { color: #bb4444 }
/* LiteralStringInterpol */ .chroma-dark .si { color: #bb6688; font-weight: bold }
/* LiteralStringOther */ .chroma-dark .sx { color: #008000 }
/* LiteralStringRegex */ .chroma-dark .sr { color: #bb6688 }
/* LiteralStringSingle */ .chroma-dark .s1 { color: #bb4444 }
/* LiteralStringSymbol */ .chroma-dark .ss { color: #b8860b }
/* LiteralNumber */ .chroma-dark .m { color: #666666 }
/* LiteralNumberBin */ .chroma-dark .mb { color: #666666 }
/* LiteralNumberFloat */ .chroma-dark .mf { color: #666666 }
/* LiteralNumberHex */ .chroma-dark .mh { color: #666666 }
/* LiteralNumberInteger */ .chroma-dark .mi { color: #666666 }
/* LiteralNumberIntegerLong */ .chroma-dark .il { color: #666666 }
/* LiteralNumberOct */ .chroma-dark .mo { color: #666666 }
/* Operator */ .chroma-dark .o { color: #666666 }
/* OperatorWord */ .chroma-dark .ow { color: #aa22ff; font-weight: bold }
/* Punctuation */ .chroma-dark .p {  }
/* Comment */ .chroma-dark .c { color: #008800; font-style: italic }
/* CommentHashbang */ .chroma-dark .ch { color: #008800; font-style: italic }
/* CommentMultiline */ .chroma-dark .cm { color: #008800; font-style: italic }
/* CommentSingle */ .chroma-dark .c1 { color: #008800; font-style: italic }
/* CommentSpecial */ .chroma-dark .cs { color: #008800; font-weight: bold }
/* CommentPreproc */ .chroma-dark .cp { color: #008800 }
/* CommentPreprocFile */ .chroma-dark .cpf { color: #008800 }
/* Generic */ .chroma-dark .g {  }
/* GenericDeleted */ .chroma-dark .gd { color: #a00000 }
/* GenericEmph */ .chroma-dark .ge { font-style: italic }
/* GenericError */ .chroma-dark .gr { color: #ff0000 }
/* GenericHeading */ .chroma-dark .gh { color: #000080; font-weight: bold }
/* GenericInserted */ .chroma-dark .gi { color: #00a000 }
/* GenericOutput */ .chroma-dark .go { color: #888888 }
/* GenericPrompt */ .chroma-dark .gp { color: #000080; font-weight: bold }
/* GenericStrong */ .chroma-dark .gs { font-weight: bold }
/* GenericSubheading */ .chroma-dark .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ .chroma-dark .gt { color: #0044dd }
/* GenericUnderline */ .chroma-dark .gl { text-decoration: underline }
/* Text */ .chroma-dark . {  }
/* TextWhitespace */ .chroma-dark .w { color: #bbbbbb }
