{{ define "main" }}
    <main class="main list" id="main">
        <div class="main-inner">
				<div class="post">
					<h2 class="post-title">{{.Title}}</h2>
					<div class="post-content"></div>
				</div>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@1.8.0/dist/Bmdb.min.css">
				<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
				<script type="text/javascript" src='https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@1.8.0/dist/Bmdb.min.js'></script>
				<script type="text/javascript">
					new Bmdb({
						type: 'movies',
						selector: '.post-content',
						secret: 'UqfLCwkZXVCH4RYhq5o4RXBNsWHaTGkfYGPhduWcbjD6LED8wqKDtsHN5ycp7D6x',
						noMoreText: 'Good things worth sharing',
						limit: 30
						})
				</script>
	    </div>
	</main>	
{{ end }}