.list-title, .term-title, .list-year, .list-month {
    font-family: 'glyph-correction', 'Cinzel Decorative', 'Noto Serif SC', serif;
}
// 弹性布局调整
.brand {
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.nav {
    font-size: 1em;
    margin-top: 0.4em;
}

.home .poetry {
    padding: 16em 1em;
}

.menu-item {
    .archives, .categories, .series, .share, .friends, .about {
        display: none;
    }
}

[data-theme="dark"] {
    .theme-icon-dark, #lang-switcher, .footer-icon {
        opacity: 0.5;
    }
}

#lang-switcher {
    margin-left: 0.3em;
}


@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu-item {
        .archives, .categories, .series, .share, .friends, .about {
            display: inline-block;
        }
    }
    .menu-item-name {
        font-size: 80%;
    }

    :root {
        .theme-icon-light {
            display: inline;
        }
    }
    [data-theme="dark"] {
        .theme-icon-dark {
            display: inline !important;
        }
    }
    #lang-switcher {
        margin: 0;
    }
}


.nav-toggle {
    transform: translateY(0.4em);
}

.footer {
    letter-spacing: 0.1em;
}

// 搜索样式

input#search-input {
    font-family: "Amstelvar", serif;
}

//标签云
.tag-cloud-item {
    font-family: 'Cinzel Decorative', 'Long Cang', 'Noto Serif SC', serif;
}

//段落样式
.post-body {
    h2 {
        border-bottom: 1px solid var(--color-contrast-lower);
        transition: all .5s;
    }
    h3 {
        border-bottom: 1px dotted var(--color-contrast-lower);
        transition: all .5s;
    }
}

// 相关文章

.related-list {
    padding-left: 2em;
    list-style: circle;
}

// 删除线

del {
    --color: var(--color-contrast-medium);
    text-decoration: none;
    padding: 0.5em;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left,rgba(255,255,255,0.5),transparent),linear-gradient(2deg,var(--color) 50%,transparent 50%),linear-gradient(-.9deg,var(--color) 50%,transparent 50%),linear-gradient(-60deg,var(--color) 50%,transparent 50%),linear-gradient(120deg,var(--color) 50%,transparent 50%);
    background-size: 0% 1.5px, calc(100% - 20px) 10px, calc(100% - 20px) 10px, 10px 10px, 8px 8px;
    background-position: 100% calc(50% + 2px), center center, center center, 2px 50%, calc(100% - 3px) calc(50% + 1px);
}


// 超链接

.post-body {
    p a, li a, dd a, sup a {
        color: hsl(220, 50%, 50%);
        text-decoration: none;
        &:hover, &:active {
            color: hsl(290, 50%, 50%);
        }
    }
}
[data-theme="dark"] .post-body {
    p a, li a, dd a, sup a {
        color: hsl(200, 40%, 60%);
        text-decoration: none;
        &:hover, &:active {
            color: hsl(310, 40%, 60%);
        }
    }
}


// katex

.katex {
    font-size: 1em !important;
}


// 可变字体 https://github.com/TypeNetwork/Amstelvar

// Magic adjustment for en
@if ($lineHeight != 2) {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../../fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
} @else {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-display: swap;
        src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
}
:root {
    --text-wdth: 90;
    --text-opsz: 40;
    --text-YTLC: 460;
}
body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}
.post-title {
    font-variation-settings:
        'wght' 550,
        'opsz' 60,
        'YOPQ' 90;
}
.list-item-time {
    font-feature-settings: 'tnum';
}

// 友链样式

.blogroll {
    padding: 1em 0;
    border: 2px solid transparent;
    border-bottom: 1px dashed var(--color-contrast-low);
    display: flex;
    transition: all .5s;
    .friend {
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .name {
        font-weight: bold;
        margin: 0.375em 0;  
    }
    .excerpt {
        font-size: 0.875em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .avatar {
        width: 4em !important;
        height: 4em !important;
        margin: 0 1em 0 0 !important;
        z-index: 0;
    }
}

//PWA
.app-refresh {
    background: #000;
    height: 0;
    line-height: 3em;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 42;
    padding: 0 1em;
    transition: all .3s ease;
}
.app-refresh-wrap {
    display: flex;
    color: #fff;
}
.app-refresh-wrap label {
    flex: 1;
}
.app-refresh-show {
    height: 3em;
}


// 短代码

// quote

blockquote.quote {
    position: relative;
    margin: 2em auto;
    padding-left: 3em;
    border: none;
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}
@media (max-width: $maxWidth) {
    blockquote.quote {
        &.poetry {
            padding-left: 3em;
            &::before {
                left: 0;
            }
        }
    }
}

// quote-center

blockquote.quote-center {
    position: relative;
    border-left: none;
    padding-left: 0;
    border-top: 1px solid var(--color-contrast-lower);
    border-bottom: 1px solid var(--color-contrast-lower);
    p{
        text-align: center !important;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        margin-top: -0.42em;
    }
    &::after {
        position: absolute;
        right: 0;
        content: '”';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        margin-top: -0.7em;
    }
}

// 文字渐变色
.colorfulfont {
background: linear-gradient(to right, red,#45ed63);
-webkit-background-clip: text;
color: transparent;
}

// 卡片风格
.mytag{
    position: relative;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.mytag::before{
    content: '';
    position: relative;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}